/* Menu burger */
#menu-burger {
    position:absolute; 
    top:2.5em; 
    right:3.5em; 
    display:inline-block; 
    cursor:pointer; 
    z-index: 9999;}
  #menu-burger .menu1,
  #menu-burger .menu2,
  #menu-burger .menu3 {
    width:32px; 
    height:5px; 
    background-color:#a12525; 
    margin:6px 0; 
    transition:0.4s;}
  #menu-burger:hover {
    opacity:.75; 
    transition:.5s;}
  #menu-burger.clicked .menu1 {
    -webkit-transform:rotate(-45deg) translate(-9px, 6px); 
    transform:rotate(-45deg) translate(-9px, 6px);}
  #menu-burger.clicked .menu2 {
    opacity: 0;}
  #menu-burger.clicked .menu3 {
    -webkit-transform:rotate(45deg) translate(-8px, -8px); 
    transform:rotate(45deg) translate(-8px, -8px);}
  
  /* Main menu (slide) */
  #menu {
    position:fixed; 
    z-index:9999;  
    left:-25%; 
    top:auto; 
    background:#41403f75; 
    padding:4em 2em; 
    width:25%; 
    min-height:100%; 
    box-shadow:1px 0 1px #eeecec;}
  #menu ul li {
    list-style:none;}
  #menu ul li a {
    display:block; 
    color:black; 
    font-family: 'Bebas Neue', cursive;
    text-decoration:none; 
    font-weight:700; 
    font-size:30px; 
    transition:background .5s; 
    padding:30px; 
    text-align:center; 
    margin-bottom:.5em;
    background:rgba(255, 255, 255, 0.103);
    border:1px solid #d6d6d6;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
    border-radius:3px;
    transition:.2s all; 
  }
  #menu ul li a:hover {
    background:#eeeeee; 
    transition:background .5s;
  }
  
  #menu:hover .box
  {
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
  }
  
  #menu:hover .box:hover
  {
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }
  
  #menu.visible {
    animation:.5s slideRight ease-in forwards; 
    transition-delay:0;}
  #menu.invisible {
    animation:1s slideLeft ease-out forwards; 
    transition-delay:0;}
  
  /* Animations pour le menu slide */
  @keyframes slideRight {
      from {left:-25%;}
      to {left:0%;}
  }
  @-webkit-keyframes slideRight {
      from {left:-25%;}
      to {left:0%;}
  }
  @keyframes slideLeft {
      from {left:0%;}
      to {left:-25%;}
  }
  @-webkit-keyframes slideLeft {
      from {left:0%;}
      to {left:-25%;}
  }
  
  /* Responsive design */
  @media (max-width:1024px) {
      #menu {left:-50%; width:50%;}
      #menu-burger.clicked {position:fixed;}
  
      /* Animations pour le menu slide */
      @keyframes slideRight {
          from {left:-50%;}
          to {left:0%;}
      }
      @-webkit-keyframes slideRight {
          from {left:-50%;}
          to {left:0%;}
      }
      @keyframes slideLeft {
          from {left:0%;}
          to {left:-50%;}
      }
      @-webkit-keyframes slideLeft {
          from {left:0%;}
          to {left:-50%;}
      }
  }
  @media (max-width:600px) {
      #menu-burger {top:1em; right:2em; z-index:9999;}
      #menu {left:-100%; width:100%;}
  
      /* Animations pour le menu slide */
      @keyframes slideRight {
          from {left:-100%;}
          to {left:0%;}
      }
      @-webkit-keyframes slideRight {
          from {left:-100%;}
          to {left:0%;}
      }
      @keyframes slideLeft {
          from {left:0%;}
          to {left:-100%;}
      }
      @-webkit-keyframes slideLeft {
          from {left:0%;}
          to {left:-100%;}
      }
  }